body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #0091AE;
}

header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table a{
  color: #0e0e0e;
  text-decoration: none;
  font-weight: 600;
}
